.macbook-air-1-child {
  position: absolute;
  height: 22.1%;
  width: 100%;
  top: 25.19%;
  right: 0%;
  bottom: 52.71%;
  left: 0%;
  background-color: var(--color-gray-200);
}
.software-engineering {
  position: absolute;
  top: 40.44%;
  left: 55.93%;
}
.div {
  position: absolute;
  top: 38.7%;
  left: 59.67%;
}
.div1 {
  position: absolute;
  top: 36.95%;
  left: 55.77%;
}
.trashigang {
  position: absolute;
  top: 35.21%;
  left: 55.46%;
}
.course {
  position: absolute;
  top: 40.44%;
  left: 46.02%;
}
.student-id {
  position: absolute;
  top: 38.7%;
  left: 46.02%;
}
.cid-no {
  position: absolute;
  top: 36.95%;
  left: 46.02%;
}
.village {
  position: absolute;
  top: 35.21%;
  left: 45.87%;
}
.dob {
  position: absolute;
  top: 33.47%;
  left: 46.02%;
}
.macbook-air-1-item {
  position: absolute;
  height: 22.1%;
  width: 100%;
  top: 51.55%;
  right: 0%;
  bottom: 26.35%;
  left: 0%;
  background-color: var(--color-gray-200);
}
.the-previous-high {
  position: absolute;
  width: 40.87%;
  top: 56.09%;
  left: 42.75%;
  font-size: var(--font-size-13xl);
  display: inline-block;
}
.macbook-air-1-inner {
  position: absolute;
  height: 22.1%;
  width: 100%;
  top: 77.9%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: var(--color-gray-200);
}
.ellipse-icon {
  position: absolute;
  height: 9.94%;
  width: 30.27%;
  top: 31.43%;
  right: 59.98%;
  bottom: 58.63%;
  left: 9.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.macbook-air-1-child1 {
  position: absolute;
  height: 9.94%;
  width: 30.27%;
  top: 54.8%;
  right: 60.84%;
  bottom: 35.26%;
  left: 8.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.line-div {
  position: absolute;
  height: 13.16%;
  width: 0.31%;
  top: 29.66%;
  right: 5.23%;
  bottom: 57.18%;
  left: 94.46%;
  border-right: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.macbook-air-1-child2 {
  position: absolute;
  height: 13.16%;
  width: 0.31%;
  top: 55.49%;
  right: 5.23%;
  bottom: 31.35%;
  left: 94.46%;
  border-right: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.macbook-air-1-child3 {
  position: absolute;
  height: 13.16%;
  width: 0.31%;
  top: 55.75%;
  right: 94.54%;
  bottom: 31.09%;
  left: 5.15%;
  border-right: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.macbook-air-1-child4 {
  position: absolute;
  height: 13.16%;
  width: 0.31%;
  top: 29.66%;
  right: 94.54%;
  bottom: 57.18%;
  left: 5.15%;
  border-right: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.line-icon {
  position: absolute;
  height: 0.11%;
  width: 56.47%;
  top: 23.5%;
  right: 24.18%;
  bottom: 76.39%;
  left: 19.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.macbook-air-1-child5 {
  position: absolute;
  height: 0.11%;
  width: 56.79%;
  top: 49.33%;
  right: 21.61%;
  bottom: 50.57%;
  left: 21.61%;
  border-top: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.macbook-air-1-child6 {
  position: absolute;
  height: 0.11%;
  width: 56.79%;
  top: 75.76%;
  right: 21.61%;
  bottom: 24.13%;
  left: 21.61%;
  border-top: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.thinley-dorji {
  position: absolute;
  top: 31.72%;
  left: 53.67%;
}
.div2 {
  position: absolute;
  top: 33.47%;
  left: 53.67%;
}
.rectangle-div {
  position: absolute;
  height: 22.1%;
  width: 100%;
  top: 0.03%;
  right: 0%;
  bottom: 77.87%;
  left: 0%;
  background-color: var(--color-gray-200);
}
.httpswwwfacebookcomprofi {
  position: absolute;
  width: 1.17%;
  top: 19.67%;
  left: 6.71%;
  font-size: var(--font-size-11xs);
  display: inline-block;
  cursor: pointer;
}
.httpsgithubcomthinleyy-d {
  position: absolute;
  height: 0.34%;
  width: 1.4%;
  top: 17.47%;
  left: 6.47%;
  font-size: 3px;
  display: inline-block;
  cursor: pointer;
}
.httpsinstagramcom-dtroyr {
  position: absolute;
  height: 0.34%;
  width: 1.17%;
  top: 18.56%;
  left: 6.71%;
  font-size: var(--font-size-11xs);
  display: inline-block;
  cursor: pointer;
}
.im-thinley-dorji {
  position: absolute;
  top: 5.13%;
  left: 15.44%;
  font-size: 40px;
}
.macbook-air-1-child7 {
  position: absolute;
  height: 0.11%;
  width: 10.92%;
  top: 4.68%;
  right: 73.79%;
  bottom: 95.22%;
  left: 15.29%;
  border-top: 4px solid var(--color-white);
  box-sizing: border-box;
}
.macbook-air-1-child8 {
  position: absolute;
  height: 13.16%;
  width: 0.31%;
  top: 3.25%;
  right: 92.51%;
  bottom: 83.58%;
  left: 7.18%;
  border-right: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.macbook-air-1-child9 {
  position: absolute;
  height: 13.16%;
  width: 0.31%;
  top: 3.25%;
  right: 3.04%;
  bottom: 83.58%;
  left: 96.65%;
  border-right: 4px solid var(--color-purple);
  box-sizing: border-box;
}
.hello {
  position: absolute;
  top: 3.2%;
  left: 15.44%;
  font-size: 48px;
}
.rectangle-icon {
  position: absolute;
  height: 14.67%;
  width: 31.9%;
  top: 3.54%;
  right: 13.34%;
  bottom: 81.79%;
  left: 54.76%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.im-a-software {
  position: absolute;
  width: 32.29%;
  top: 7.69%;
  left: 15.44%;
  display: inline-block;
}
.science-is-about {
  position: absolute;
  width: 25.2%;
  top: 15.09%;
  left: 15.44%;
  font-size: var(--font-size-xl);
  text-align: center;
  display: inline-block;
}
.macbook-air-1-child10 {
  position: absolute;
  height: 1.03%;
  width: 12.56%;
  top: 12.05%;
  right: 72%;
  bottom: 86.92%;
  left: 15.44%;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
}
.read-more {
  position: absolute;
  top: 12.27%;
  left: 17.71%;
  font-size: var(--font-size-xl);
  color: #000;
  text-align: center;
}
.macbook-air-1-child11 {
  position: absolute;
  height: 2.96%;
  width: 2.81%;
  top: 17.26%;
  right: 91.11%;
  bottom: 79.78%;
  left: 6.08%;
  background-color: var(--color-gray-200);
}
.github-icon {
  position: absolute;
  height: 0.79%;
  width: 2.34%;
  top: 17.26%;
  right: 91.58%;
  bottom: 81.95%;
  left: 6.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.instagram-circle-icon {
  position: absolute;
  height: 0.79%;
  width: 2.34%;
  top: 18.35%;
  right: 91.5%;
  bottom: 80.86%;
  left: 6.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.facebook-circled-icon {
  position: absolute;
  height: 0.79%;
  width: 2.34%;
  top: 19.43%;
  right: 91.5%;
  bottom: 79.78%;
  left: 6.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home1 {
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home {
  position: absolute;
  height: 0.77%;
  width: 5.23%;
  top: 1.3%;
  right: 52.03%;
  bottom: 97.94%;
  left: 42.75%;
  cursor: pointer;
}
.about1 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.about {
  position: absolute;
  height: 0.77%;
  width: 5.38%;
  top: 1.3%;
  right: 40.87%;
  bottom: 97.94%;
  left: 53.74%;
  cursor: pointer;
}
.education {
  position: absolute;
  height: 0.77%;
  width: 8.81%;
  top: 1.3%;
  right: 26.29%;
  bottom: 97.94%;
  left: 64.9%;
  cursor: pointer;
}
.contact {
  position: absolute;
  height: 0.77%;
  width: 7.1%;
  top: 1.3%;
  right: 13.34%;
  bottom: 97.94%;
  left: 79.56%;
  cursor: pointer;
}
.name {
  position: absolute;
  top: 31.72%;
  left: 46.02%;
}
.then-after-getting {
  position: absolute;
  width: 86.66%;
  top: 64.95%;
  left: 6.63%;
  font-size: var(--font-size-13xl);
  display: inline-block;
}
.macbook-air-1-child12 {
  position: absolute;
  height: 1.96%;
  width: 55.07%;
  top: 83.21%;
  right: 10.92%;
  bottom: 14.83%;
  left: 34.01%;
  border-radius: var(--br-31xl);
  background-color: var(--color-purple);
}
.macbook-air-1-child13 {
  position: absolute;
  height: 6.24%;
  width: 55.07%;
  top: 91.88%;
  right: 10.92%;
  bottom: 1.88%;
  left: 34.01%;
  border-radius: var(--br-31xl);
  background-color: var(--color-purple);
}
.macbook-air-1-child14 {
  position: absolute;
  height: 1.96%;
  width: 55.07%;
  top: 86.12%;
  right: 10.92%;
  bottom: 11.92%;
  left: 34.01%;
  border-radius: var(--br-31xl);
  background-color: var(--color-purple);
}
.macbook-air-1-child15 {
  position: absolute;
  height: 1.96%;
  width: 25.66%;
  top: 89.03%;
  right: 40.33%;
  bottom: 9.01%;
  left: 34.01%;
  border-radius: var(--br-31xl);
  background-color: var(--color-purple);
}
.macbook-air-1-child16 {
  position: absolute;
  height: 1.96%;
  width: 26.83%;
  top: 89.03%;
  right: 10.92%;
  bottom: 9.01%;
  left: 62.25%;
  border-radius: var(--br-31xl);
  background-color: var(--color-purple);
}
.full-name {
  position: absolute;
  top: 83.8%;
  left: 35.73%;
  color: var(--color-gray-100);
}
.email-address {
  position: absolute;
  top: 86.7%;
  left: 35.73%;
  color: var(--color-gray-100);
}
.phone-no {
  position: absolute;
  top: 89.61%;
  left: 35.73%;
}
.subject {
  position: absolute;
  top: 89.61%;
  left: 63.96%;
}
.your-message {
  position: absolute;
  top: 92.62%;
  left: 35.73%;
}
.about2 {
  position: absolute;
  top: 27.12%;
  left: 44.7%;
  font-size: var(--font-size-13xl);
  color: var(--color-purple);
}
.macbook-air-1-child17 {
  position: absolute;
  height: 0.11%;
  width: 8.81%;
  top: 28.44%;
  right: 47.27%;
  bottom: 71.45%;
  left: 43.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.education2 {
  position: absolute;
  top: 52.1%;
  left: 43.21%;
  font-size: var(--font-size-13xl);
  color: var(--color-purple);
}
.macbook-air-1-child18 {
  position: absolute;
  height: 0.11%;
  width: 15.44%;
  top: 53.63%;
  right: 42.9%;
  bottom: 46.26%;
  left: 41.65%;
  border-top: 4px solid var(--color-white);
  box-sizing: border-box;
}
.contact2 {
  position: absolute;
  top: 78.54%;
  left: 44.38%;
  font-size: var(--font-size-13xl);
  color: var(--color-purple);
}
.macbook-air-1-child19 {
  position: absolute;
  height: 0.11%;
  width: 11.86%;
  top: 80.1%;
  right: 45.09%;
  bottom: 19.8%;
  left: 43.06%;
  border-top: 4px solid var(--color-gray-100);
  box-sizing: border-box;
}
.cstrubedubt {
  position: absolute;
  top: 85.83%;
  left: 8.89%;
  font-size: var(--font-size-xl);
}
.phone-icon {
  position: absolute;
  height: 1.06%;
  width: 3.12%;
  top: 87.89%;
  right: 92.59%;
  bottom: 11.05%;
  left: 4.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div3 {
  position: absolute;
  top: 88.1%;
  left: 8.89%;
  font-size: var(--font-size-xl);
}
.github-icon1 {
  position: absolute;
  height: 1.06%;
  width: 3.12%;
  top: 90.01%;
  right: 92.59%;
  bottom: 8.93%;
  left: 4.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.httpsgithubcomthinleyy-d1 {
  position: absolute;
  top: 90.22%;
  left: 8.89%;
  font-size: var(--font-size-xl);
}
.gmail-logo-icon {
  position: absolute;
  height: 1.06%;
  width: 3.12%;
  top: 85.59%;
  right: 92.59%;
  bottom: 13.35%;
  left: 4.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.macbook-air-1 {
  position: relative;
  border-radius: 30px;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 3783px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
